@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-orbitron: var(--font-orbitron);
  --font-poppins: var(--font-poppins);
  --font-bebas: var(--font-bebas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C090D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* globals.css */
.hidden-until-load {
  opacity: 0;
  pointer-events: none;
}
